<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    *ngIf="dishDetails">

    <div fxFlex="40" *ngIf="dishDetails" [@visibility]="visibility" [@expand]>
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{dishDetails.name | uppercase}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + dishDetails.image}}" alt={{dishDetails.name}}>
            <mat-card-content>
                <p>{{dishDetails.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]">
                    <span class="fa fa-chevron-left fa-lg"></span>
                </button>
                <button mat-button>Like</button>
                <button mat-button>Share</button>
                <button mat-button (click)="goBack()">Back</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]">
                    <span class="fa fa-chevron-right fa-lg"></span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    
    <div fxFlex="40" *ngIf="dishDetails" [@visibility]="visibility" [@expand]>
        <div><h3 mat-line>Comments</h3></div>
        <div *ngFor="let comments of dishDetails.comments">        
            <mat-list>
                <mat-list-item>
                    <p mat-line>{{comments.comment}}</p>
                    <p mat-line>{{comments.rating}} stars</p>
                    <p mat-line>--{{comments.author}} {{comments.date| date}}</p>
                </mat-list-item>
            </mat-list>            
        </div>
                   
        <form novalidate [formGroup]="commentsForm" #cForm="ngForm" (ngSubmit)="onSubmit()">
            <div  [hidden]="cForm.form.invalid">                
                <p mat-line>{{commentsForm.controls['comment'].value}}</p>
                <p mat-line>{{commentsForm.controls['rating'].value}} stars</p>
                <p mat-line>--{{commentsForm.controls['author'].value}}</p>
            </div>
            <div  >
                
                <mat-form-field class="half-width">
                    <input matInput type="text" formControlName="author" placeholder="Name" required>
                    <mat-error *ngIf="formErrors['author']">{{formErrors['author']}}</mat-error>
                </mat-form-field>
                <br>
                <input matInput [hidden]="true" type="text" formControlName="date" value="{{date}}">
                <mat-slider min="1" max="5" step="1" formControlName="rating" 
                    thumbLabel tickInterval="1" value="5"></mat-slider>
                <br>
                <mat-form-field class="half-width">
                    <input matInput type="text" formControlName="comment" placeholder="Your Comment" required>
                    <mat-error *ngIf="formErrors['comment']">{{formErrors['comment']}}</mat-error>
                </mat-form-field>
                <br><br><br>
                <button mat-button type="submit" class="background-primary text-floral-white"
                [disabled]="commentsForm.invalid">Submit</button>
            </div>
        </form>
    </div>

</div>
<div [hidden]="dishDetails || dishErrorMsg">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div fxFlex *ngIf="dishErrorMsg">
    <h2>Error</h2>
    <h4>{{dishErrorMsg}}</h4>
</div>

